# Entornos virtuales
venv/
env/
.conda/

# Pesos de modelos y datasets (¡No queremos subir gigas a Git!)
*.h5
*.keras
*.tflite
HAM10000/
data/

# Notebooks y archivos temporales
.ipynb_checkpoints/
__pycache__/
.DS_Store

# Datasets
datasets/