# Entornos virtuales
venv/
.venv/
env/
.conda/

# Pesos de modelos y datasets (¡No queremos subir gigas a Git!)
*.h5
*.keras
*.tflite
HAM10000/
data/
resnet/ham10000/
servicio/all_images/
servicio/HAM10000_metadata.csv
servicio/__pycache__/

# Notebooks y archivos temporales
.ipynb_checkpoints/
__pycache__/
.DS_Store

# Datasets
datasets/

# Env
*.env
.vscode/

wandb/